.container {
  text-align: center;
}
.title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px; /* Adjust the margin as needed */
  background: #afa8a8;
  width: 200px;
  height: 120px;
  margin-top: 20px;
  border-radius: 50%;
  margin-left: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 25px;
  color: #312f2f;
  margin: 0; /* Remove default margin */
}

.searchTransaction {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px; /* Adjust as needed */
}

.searchBtn {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff; /* Adjust background color as needed */
  color: #fff;
  cursor: pointer;
}

.searchBtn:hover {
  background-color: #0056b3; /* Adjust hover background color as needed */
}

.selectMonth {
  margin-right: 10px; /* Adjust as needed */
}

.monthsSelect {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #ddd;
}

.table img {
  max-width: 100px; /* Adjust the max-width as needed */
  max-height: 100px; /* Adjust the max-height as needed */
  display: block;
  margin: 0 auto; /* Center the image horizontally */
}

.pagesBtn {
  margin: 10px;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff; /* Adjust background color as needed */
  color: #fff;
  cursor: pointer;
}
.pagesBtn:hover {
  background-color: #0056b3; /* Adjust hover background color as needed */
}
